<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filePath" value="E:\Projects\FullStack Projects\Tournament\TextServerStore"/>
  </appSettings>
  <connectionStrings>
    <!--
    Forward slashes doesn't work when giving address
    -->
    <add name="Tournaments" connectionString="Server=AYUSHYAS\TOURNAMENT;Initial Catalog=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
    </startup>
</configuration>